# Private files 
private_files/*
opencode.json
opencode.json.bak*

# Current profile
/.current-profile

# Starship
starship/.config/starship.toml

# Opencode
shell_yandex/.config/opencode/bun.lock
shell_yandex/.config/opencode/package.json
